<!DOCTYPE html>
<html>
<head>
    <title>k-minor</title>
    <meta charset="UTF-8">
    <style type="text/css">
        tr.active {
            background: #ccc;
        }

        tr.active a.play {
            background: #ccc;
            color: black;
            text-decoration: none;
        }
    </style>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular.min.js"></script>
</head>
<body ng-app="player">

    <div ng-controller="PlayerController as player">
        <audio id="audio" preload="auto" tabindex="0" controls="" type="audio/mpeg">
            Sorry, your browser does not support HTML5 audio.
        </audio>

        <table cellspacing="0">
            <tbody>
                <tr ng-class="{active: track == player.currentTrack}" ng-repeat="track in player.tracks">
                    <td><a class="play" ng-click="player.playTrack(track)" href="">{{track.title}}</a></td>
                    <td><a href="{{track.url}}">mp3</a></td>
                </tr>
            </tbody>
        </table>
    </div>

<script type="text/javascript">
    var app = angular.module("player", []);

    function track(title) {
        return {
            title: title,
            url: 'http://komu.kapsi.fi/k-minor/' + title + ".mp3"
        }
    }

    app.controller('PlayerController', function ($element, $scope) {
        var vm = this;
        var audio = $element.find('audio')[0];

        vm.tracks = [
            track('Another day'),
            track('Blibs'),
            track('canada'),
            track('Chilled'),
            track('csb'),
            track('Cthulhu'),
            track('Gaza'),
            track('Glitchy'),
            track('Jaa-a'),
            track('Jukola'),
            track('Lines'),
            track('Minding'),
            track('Nineteen'),
            track('One Note'),
            track('over'),
            track('Perfect Day'),
            track('Rounds'),
            track('sjh'),
            track('Something Unknown'),
            track('Song 1'),
            track('Such luck'),
            track('Tuesday'),
            track('Zenny')
        ];

        vm.playTrack = function(track) {
            vm.currentTrack = track;

            audio.src = track.url;
            audio.load();
            audio.play();
        };

        vm.playTrack(vm.tracks[0]);

        audio.addEventListener('ended', function () {
            $scope.$apply(function () {
                var tracks = vm.tracks;
                var index = (tracks.indexOf(vm.currentTrack) + 1) % tracks.length;

                vm.playTrack(tracks[index]);
            });
        });
    });
</script>
</body>
</html>
