<!DOCTYPE html>
<html>
<head>
    <title>k-minor</title>
    <meta charset="UTF-8">
    <style type="text/css">
        td.icon {
            width: 30px;
        }
        tr td.icon .fa {
            display: none;
        }
        tr.active td.icon .fa {
            display: inline-block;
        }
    </style>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body ng-app="player">

<div class="container">
    <div ng-controller="PlayerController as player">
        <div class="page-header">
            <h1>{{player.title()}}</h1>
        </div>

        <audio id="audio" preload="auto" tabindex="0" controls="" type="audio/mpeg">
            Sorry, your browser does not support HTML5 audio.
        </audio>

        <table class="table">
            <tbody>
            <tr ng-repeat="track in player.tracks" ng-class="{active: track == player.currentTrack}">
                <td class="icon"><i class="fa fa-refresh fa-spin"></i></td>
                <td><a class="play" ng-click="player.playTrack(track)" href="">{{track.title}}</a></td>
                <td><a ng-href="{{track.url}}" title="Download mp3"><i class="fa fa-download"></i></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    var app = angular.module("player", []);

    function makeTrack(title) {
        return {
            title: title,
            url: 'http://komu.kapsi.fi/k-minor/' + title + ".mp3"
        }
    }

    app.controller('PlayerController', function ($element, $scope) {
        var vm = this;
        var audio = $element.find('audio')[0];

        vm.tracks = [
            makeTrack('Another day'),
            makeTrack('Blibs'),
            makeTrack('canada'),
            makeTrack('Chilled'),
            makeTrack('csb'),
            makeTrack('Cthulhu'),
            makeTrack('Gaza'),
            makeTrack('Glitchy'),
            makeTrack('Jaa-a'),
            makeTrack('Jukola'),
            makeTrack('Lines'),
            makeTrack('Minding'),
            makeTrack('Nineteen'),
            makeTrack('One Note'),
            makeTrack('over'),
            makeTrack('Perfect Day'),
            makeTrack('Rounds'),
            makeTrack('sjh'),
            makeTrack('Something Unknown'),
            makeTrack('Song 1'),
            makeTrack('Such luck'),
            makeTrack('Tuesday'),
            makeTrack('Zenny')
        ];

        vm.playTrack = function (track) {
            vm.currentTrack = track;

            audio.src = track.url;
            audio.load();
            audio.play();
        };

        vm.title = function () {
            if (vm.currentTrack) {
                return "k-minor - " + vm.currentTrack.title;
            } else {
                return "k-minor";
            }
        };

        audio.addEventListener('ended', function () {
            $scope.$apply(function () {
                var tracks = vm.tracks;
                var index = (tracks.indexOf(vm.currentTrack) + 1) % tracks.length;

                vm.playTrack(tracks[index]);
            });
        });
    });
</script>
</body>
</html>
